*{
  box-sizing: border-box;
}
body{
  margin:0;
  padding:0;
  background-color: black;
}
@media(min-width:960px){

body{
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

}

.home__contact{
background-color:unset;
}
@media(min-width:960px){
  
}