*{
  box-sizing: border-box;
}

body{
  margin:0;
}

.welcome{
  display: grid;
  background: url(./assets/image\ 4.png) center;
  height: 616px;
  
}

@media(min-width: 960px){
  .welcome{
    background-position-x:unset;
  }
}

.welcome__bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px 0 20px;
  height: 80px;
  padding:10px;
}

@media(min-width: 960px){
  .welcome__bar{
    padding:50px;
  }
}

.logo{
  height: 60px;
  margin-top: 50px;
}

.welcome__menu-logo{
  height: 32px;
  min-width: 20px;
}
@media(min-width: 960px){
  .welcome__menu-logo{
   display: none;
  }
}

.welcome__bar li{
  list-style: none;

}

.welcome__nav__links{
  padding:0;
  margin:0;
  justify-content: space-between;
  gap:40px;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 24px;
  display: none;
  
}

@media(min-width: 960px){
  .welcome__nav__links{
  display: flex;
  }
  
}

.welcome__menu__window{
  position: absolute;
  top:0;
  right:0;
  left:0;
  bottom:0;
  display:none;
  background-color: black;
  color: white;
  height: 616px;
}

.menu__options-container{
  display: flex;
  justify-content: center;
  margin-top: 60px;
  font-family: 'Montserrat';
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}

.welcome__menu__window-options{
  display: flex;
  flex-direction: column;
  gap:50px;
}

.menu__options__link{
  text-decoration: none;
  color: white;
}

.menu__close{
  height: 80px;
  padding:30px;
}

.welcome__menu-logo{
  position: absolute;
  right:40px;
}

.welcome__text__container{
  margin: 100px auto;
  text-align: center;
  font-weight: 700;
  font-family: 'Montserrat';
  color: white;
}

.welcome__title,
.welcome__subtitle{
  margin:0;
}

.welcome__title{
  font-size: 48px;
}
.welcome__subtitle{
  font-size: 32px;
}


.about{
  background-color: #141414;
  color: white;
  height:518px;
  padding: 55px 31px 0 31px;
}

@media(min-width:960px){
  .about{
    background-color: white;
    color: black;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap:20px;
    padding-top: 40px;
  }
 
}

.about__title{
  text-align: center;
  margin:0;
  margin-bottom: 46px;
  font-size: 32px;
  font-weight: 700;
  font-family: 'Montserrat';
}
@media(min-width:960px){
  .about__title{
    text-align: left;
  }
}

.about__text-container{
  margin-top:49px;
  min-width: 300px;
}

@media(min-width:960px){
  .about__text-container{
    max-width: 610px;
  }
}

.about__text{
  font-weight: 400;
  font-family: 'Poppins';
  text-align: left;
}

.about__image{
  height: 480px;
  display: none;
}

@media(min-width:960px){
  .about__image{
    display: initial;
  }
  
}

.services{
  background-color: white;
  font-family: 'Poppins';
  padding-top: 60px;
}

.services__title{
  font-family: 'Montserrat';
  font-weight: 700;
  font-size:32px;
  text-align: center;
}
@media (min-width: 950px){
  .services__title{
    font-size: 48px;
  }
}


.services__card{
  display:grid;
  justify-content: center;
}
@media (min-width: 950px){
 .services__card{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:100px;
    padding: 0px 84px 0px 84px;
    
  }
}

.services__card-container{
  height: auto;
  width:240px;
  display: grid;
  justify-items: center;
  align-items: center;
  margin-bottom: 80px;
}

.services__card-img{
  height: 120px;
  width: 120px;
  margin:10px;
}



.services__card-title{
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

.services__card-text-container{
  padding: 1px;
  font-size: 16px;
  font-weight: 400;
}

.services__card-text{
  text-align: center;
  padding: 0px 15px 15px 15px;
  margin: 0;
}

.footer{
  background-color: #2C2C2C;
  padding: 170px 0 170px 0;
  text-align: center;

}


.footer__container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  
}

@media(min-width:960px){
  .footer__container{
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    margin: 0  80px 0 80px;
  }
}

.footer__links{
  margin:0;
  padding:0;
}
.footer__links-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

@media(min-width:960px){
  .footer__links-container{
    align-items:flex-end;
  }
}

.footer__social{
  display: flex;
  align-items: center;
  gap:7px;

 
}

.social__link{
  text-decoration: none;
  color:white;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
}

.social__logo{
  height:27px;
}