*{
  box-sizing: border-box;
}
body{
  margin:0;
  padding:0;
  background-color: black;
}
@media(min-width:960px){

body{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(194,50,129,1) 0%, rgba(0,239,255,1) 100%);
}

}
/* 
.pys_container{
  min-height: 100vh;
} */

.ps__container{
  font-family: 'Montserrat';
  font-weight: 700;
  font-size:48px;
  text-align: center;

}
.ps__title{
  font-family: 'Montserrat';
  font-weight: 700;
  font-size:48px;
  color:white;
}

.services{
  background-color: none;
  background-color: black;
  color: white;
}

.services__card-container{
  min-width: 300px;
}

.portfservices__card-img{
  height: 172px;
  width: 290px;
  margin:10px;
}

.portf__card-link{
  color:#FC6F50;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}
.desktop__container{
  text-align: center;
  
}
@media(min-width:960px){
  .desktop__container{
    height:500px;
    text-align: left;
    padding:150px 0 200px 82px;
  }

}

