.services{
  background-color: white;
  font-family: 'Poppins';
  padding-top: 60px;
}

.services__title{
  font-family: 'Montserrat';
  font-weight: 700;
  font-size:32px;
  text-align: center;
}
@media (min-width: 950px){
  .services__title{
    font-size: 48px;
  }
}


.services__card{
  display:grid;
  justify-content: center;
}
@media (min-width: 950px){
 .services__card{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:100px;
    padding: 0px 84px 0px 84px;
    
  }
}

.services__card-container{
  height: auto;
  width:240px;
  display: grid;
  justify-items: center;
  align-items: center;
  margin-bottom: 80px;
}

.services__card-img{
  height: 120px;
  width: 120px;
  margin:10px;
}

.services__card-title{
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

.services__card-text-container{
  padding: 1px;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:16px;
}

.services__card-text{
  text-align: center;
  margin: 0;
}