*{
  box-sizing: border-box;
}

.contacto{
  color:white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  padding:20px;
  height:660px;
}

@media (min-width:960px){
  .contacto{
   flex-direction: row;
   
  }
}

.contacto__title{
  font-size: 32px;
  font-family: 'Montserrat';
}

@media (min-width:960px){

  .contacto__title{
    font-size: 48px;
    margin:  10px 60px 400px 0px;
  }
}
.contacto__label,
.contacto__button{
 font-family: 'Poppins';
}
.contacto__label{
  font-size:13px;
  font-weight: 400px;
  
}
.contact__input,
.contacto__button{
  height:45px;
}

.contact__input,
.contacto__button,
.contact__input-largo{
  min-width: 310px;
  
}
.contact__input-largo{
  height:113px;

}

.contacto__button{
  border-radius: 4px;
  border-style: none;
  margin-top: 60px;
  padding:10px;
  font-weight: 700;
  background-color: #2C2C2C;
  color:white;
}